
  /* Basic styles for the developer cards */
.notes-container {
    padding: 20px;
    text-align: center;
  }
  
  .devcards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: "Open Sans", sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 120%;
  }
  /* Media queries for responsive design */
  @media (max-width: 1200px) {
    .card {
      flex-basis: 40%; /* Three cards per row on smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: 60%; /* Two cards per row on even smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex-basis: 100%; /* Single card per row on very small screens */
    }
  }
  