/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #1d1b31;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
}

.sidebar .logo-details {
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}



.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}

.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.hidden-logo {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .hidden-logo {
  opacity: 1;
}

#logoDetails {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-size: cover;
  background-position: center;
  opacity: 0;
  border-radius: 12px;
}

.sidebar.open .background-image {
  opacity: 0.3;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 120%;
}

.card {
  background: #1d1b31d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.aboutcard {
  background: #1d1b31d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 1.7em;
  border-radius: 50%;
  border: none;
  height: 45px;
  width: 45px;
  outline: none;
  background: #7c7c7c2b;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.searchbar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: rgb(245, 245, 245);
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: white;
  color: black;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading....";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.card:hover {
  box-shadow: 5px 5px 5px #00000056;
}



.searchbar:hover {
  transform: scale(1.07);
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #fff;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.button-login {
  width: fit-content;
  min-width: 100px;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.button-login:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 20px -18px;
}

.button-login:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .card {
    margin-left: 90px;
  }
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container input[type="text"]:focus,
.input-container input[type="password"]:focus {
  border-bottom: 2px solid #000; /* Change the focus color as needed */
}

/* CSS for the Sidebar component */

.logo_name{
  margin-right : 10px;
}

.about-us {
  /* Add overall styles for the About Us section */
  /* Example: padding, margin, etc. */
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
}

.developer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left:10px;
}

.paddingabout{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left:10px;
  padding: 10px;
}

.developer-card {
  width: calc(33.33% - 20px); /* 3 cards per row with margin between */
  margin-bottom: 20px;

}


.photo-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%; /* To create a rounded/square border */
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the image to cover the container */
}

.aboutcard:hover {
  box-shadow: 5px 5px 5px #00000056;
}

.aboutcard {
  background: #1d1b31d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  margin-right : 100px;

  margin: 1em;
}

@media (max-width: 1280px) {
  
  

  .margin{
    margin-top : 0px;
    margin-left : 20px;
    padding : 30px;
  }
  
  .aboutcard{
    margin-left:30px;
    padding :50px;
  }

  .about-us {
    margin-left: 20px;
    margin-right: 20px;
  }

  .developer-cards {
    margin-left: 20px;
    margin-right: 20px;
  }

  .developer-card {
    width : calc(50% - 20px);
    height: calc(50% - 20px);
  }


  .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to cover the container */
  }

  .photo-container{
    width: 100px;
    height: 100px;
  }
  .developer-card h1{
    font-size : 80%;
  }
  .developer-card h2{
    font-size :80%;
  }
  .developer-card h3{
    font-size : 80%
  }
  .developer-card p{
    font-size : 100%
  }
  .why-we-created h2{
    font-size : 100%
  }
  .why-we-created p{
    font-size : 100%
  }
}

@media (max-width: 810px) {
  
  .card{
    margin-top: 50px;
    margin-left:84px;
    padding :20px;
    width : 75%;
    height: 450px;
  }

  .search input{
    width :100%;
    height: 100%;
  }

  .search button{
    width : 50%;
    height: 50%;
  }

  .margin{
    margin-top : 0px;
    margin-left : 0px;
    padding : 0px;
  }
  .weathermargin{
    margin-top : 300px;
    margin-left : 0px;
    padding : 0px;
  }
  .aboutcard{
    margin-left:77px;
    padding :10px;
  }

  .about-us {
    margin-left: 0px;
    margin-right: 77px;
  }

  .developer-cards {
    margin-left: 10px;
    margin-right: 10px;
  }

  .developer-card {
    width : calc(50% - 20px);
    height: calc(50% - 20px);
  }


  .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop the image to cover the container */
  }

  .photo-container{
    width: 40px;
    height: 40px;
  }

  .developer-cards h1{
    font-size : 50%;
  }
  .developer-cards h2{
    font-size :50%;
  }
  .developer-cards h3{
    font-size : 50%;
  }

  .cards h1{
    font-size : 50%;
  }
  .cards h2{
    font-size :50%;
  }
  .cards h2.city{
    font-size :30%;
  }
  .cards h3{
    font-size : 50%;
  }

  .why-we-created h2{
    font-size : 50%
  }
  .why-we-created p{
    font-size : 50%
  }


}